:root {
  --background: #b6b6b6;
  --background-preemph: #a1a1a1;
  --background-emphasis: #959494;

  --text: #303337;
  --text-highlight: #353730;
  
  --link: #00529B;

  --input: #0f0f0f;
  --input-background: #ffffff;

  --button: #e7e7e2;
  --button-background: #00529B;

  --border: #303337;
  @media (prefers-color-scheme: dark) {
    --background: #171717;
    --background-preemph: #2f2f2f;
    --background-emphasis: #434343;

    --text: #babaf0;
    --text-highlight: #fafaf0;

    --link: #529fe3;

    --input: #ffffff;
    --input-background: #0f0f0f;

    --button: #353730;
    --button-background: #e7e7e2;

    --border: #babaf0;
    
    --tab: #67677b;
    --tab-active: #a4a4b4;
    --tab-background: #37373e;
  }
}
