:root {
  --background: #e7e7e2;
  --text: #303337;
  --text-highlight: #353730;
  
  --link: #00529B;

  --input: #0f0f0f;
  --input-background: #ffffff;

  --button: #e7e7e2;
  --button-background: #00529B;
  @media (prefers-color-scheme: dark) {
    --background: #2B2B2B; 
    --text: #babaf0;
    --text-highlight: #fafaf0;

    --link: #529fe3;

    --input: #ffffff;
    --input-background: #0f0f0f;

    --button: #353730;
    --button-background: #e7e7e2;
  }
}
